CarciogenecityPrediction(Py)/venv/*
CarciogenecityPrediction(Py)/Log/*
CarciogenecityPrediction(Py)/__pycache__/*
CarciogenecityPrediction(Py)/.idea/CarciogenecityPrediction(Py).iml
CarciogenecityPrediction(Py)/.idea/misc.xml
CarciogenecityPrediction/*